.advantages {
  font-weight: bold;
}

.advantages__list {
  .reset-list;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;

  padding: 9px 29px 7px 29px;
}

.advantages__item {
  position: relative;

  width: 320px;
  padding: 56px 31px 27px 31px;

  font-size: 17px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
  }

  &--flower {
    &::before {
      left: 39px;
      top: 3px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--money {
    &::before {
      left: 31px;
      top: 4px;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--heart {
    &::before {
      left: 38px;
      top: 8px;

      width: 34px;
      height: 27px;

      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--rocket {
    &::before {
      left: 26px;
      top: 7px;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--ball {
    &::before {
      left: 35px;
      top: 6px;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--gift {
    &::before {
      left: 34px;
      top: 5px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__title {
    padding: 14px 45px;
    margin-bottom: 34px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    max-width: @tablet-width;
  }

  .advantages__item {
    width: 355px;

    font-size: 20px;
    line-height: 22px;

    &--flower {
      order: 1;

      padding: 56px 30px 27px 51px;

      &::before {
        left: 59px;
      }
    }

    &--money {
      order: 3;

      padding: 56px 30px 27px 51px;

      &::before {
        left: 51px;
      }
    }

    &--heart {
      order: 5;

      padding: 56px 30px 27px 51px;

      &::before {
        left: 59px;
      }
    }

    &--ball {
      order: 2;

      padding: 57px 30px 55px 30px;

      &::before {
        left: 32px;
      }
    }

    &--rocket {
      order: 4;

      padding: 57px 30px 55px 30px;

      &::before {
        left: 23px;
      }
    }

    &--gift {
      order: 6;

      padding: 57px 30px 55px 30px;

      &::before {
        left: 32px;
      }
    }
  }
}


@media (min-width: @desktop-width) {
  .advantages {
    padding-left: 176px;
  }

  .advantages__title {
    margin-bottom: 33px;

    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    &--ball {
      padding: 57px 30px 55px 46px;

      &::before {
        left: 48px;
      }
    }

    &--rocket {
      padding: 57px 13px 55px 44px;

      &::before {
        left: 38px;
      }
    }

    &--gift {
      padding: 57px 30px 55px 45px;

      &::before {
        left: 48px;
      }
    }
  }
}
