.advantages {
  font-weight: bold;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
}

.advantages__item {
  position: relative;

  font-size: 17px;
  line-height: 20px;
  padding: 50px 60px 20px 20px;

  &:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 32px;
    height: 37px;

    background: url("../img/icon-feature-flower-tiffani.svg") no-repeat;
  }

  &:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 47px;
    height: 27px;

    background: url("../img/icon-feature-money.svg") no-repeat;
  }

  &:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 34px;
    height: 27px;

    background: url("../img/icon-feature-heart.svg") no-repeat;
  }

  &:nth-child(4)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 35px;
    height: 34px;

    background: url("../img/icon-feature-ball.svg") no-repeat;
  }

  &:nth-child(5)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 55px;
    height: 23px;

    background: url("../img/icon-feature-rocket.svg") no-repeat;
  }

  &:nth-child(6)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 21px;

    width: 33px;
    height: 32px;

    background: url("../img/icon-feature-gift.svg") no-repeat;
  }
}
