.card__link {
  display: block;
  text-align: center;
}

.card__info {
  width: 260px;
  padding: 31px 27px 30px 28px;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #ececec;
}

.card__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.card__price {
  margin: 0;

  font-weight: bold;
  line-height: 24px;
}

.card__button {
  width: 20px;
  height: 19px;

  background-color: transparent;
  border: none;
}

.card__bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 22px;

  border-top: 1px solid #ececec;
}

.card__cart {
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .card {
    margin: 0 auto 54px auto;
  }

  .card__info {
    width: 335px;
    margin: 0;
  }

  .card__title {
    font-size: 20px;
  }

  .card__description {
    font-size: 15px;

    margin-bottom: 182px;
  }

  .card__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .card__description {
    margin-bottom: 45px;

    &--toys {
      margin-bottom: 19px;
    }
  }
}
