.contacts__title {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  .reset-list;

  margin-bottom: 38px;
}
.contacts {
  padding: 28px 30px 54px 30px;
}

.contacts__item {
  display: flex;

  color: #444444;

  &:first-child {
    margin-bottom: 30px;
  }
}

.contacts__heading {
  margin-right: 31px;

  line-height: 30px;
}

.contacts__info {
  line-height: 30px;
  font-style: normal;

  &--mail {
    color: #444444;

    border-bottom: 1px solid @tiffani-light;
  }
}

.contacts__map {
  margin-bottom: 58px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__link {
  padding: 11px 48px 12px 51px;

  font-size: 18px;
}
