.copyright {
  display: flex;

  padding-left: 39px;
  padding-top: 21px;
  margin: 0;
}

.copyright__text {
  display: block;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin-right: 29px;
  padding-top: 5px;
}

.copyright__logo {
  display: block;

  width: 27px;
  height: 34px;
}

.copyright__logo-image {
  fill: @tiffani-light;
}

@media (min-width: @tablet-width) {
  .copyright__logo {
    // padding-top: 6px;
  }

  .copyright__text {
    padding-top: 5px;
  }
}
