.copyright__text {
  display: block;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;

  margin-right: 29px;
  padding-top: 5px;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__logo {
  display: flex;

  padding-left: 39px;
  padding-top: 21px;
  margin: 0;

  color: @tiffani-light;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;

    .copyright__text {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .copyright__text {
    padding-top: 5px;
  }

  .copyright__logo {
    padding-top: 18px;
  }
}
