.intro {
  position: relative;
  width: 322px;
}

.intro__list {
  .reset-list;
}

.intro__header {
  margin-bottom: -70px;

  width: 322px;
  height: 373px;
  padding: 93px 39px 193px 39px;

  text-align: center;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.intro__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: #010000;
}

.intro__button {
  display: block;

  width: 177px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.intro__item {
  display: flex;
  justify-content: space-between;

  width: 320px;
  padding: 38px 29px;

  &--light {
    background-color: @tiffani-light;
  }

  &--dark {
    background-color: @tiffani-dark;
  }
}

.intro__image {
  fill: #149080;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .intro {
    width: 772px;
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
  }

  .intro__list {
    display: flex;
    margin: 0 auto;
    padding: 0 52px;
  }

  .intro__item {
    width: 334px;
  }

  .intro__header {
    width: 772px;
    height: 746px;
    margin-bottom: -138px;

    background-image: url("../img/hero-tablet@1x.jpg");
  }
}
