.introduction {
  margin-bottom: 30px;

  background-color: #f1f1f1;
}

.introduction__title {
  padding: 76px 43px 74px 42px;
  margin: 0;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}
