.main-nav {
  text-align: left;
  background-color: #ffffff;
}

.site-list {
  .reset-list;
}

.site-list__item {
  position: relative;

  padding: 22px 75px 22px 63px;

  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec; /*подумать, как убрать задвоение границ*/
  }
}

.site-list__link {
  display: block;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--search {
    &::before {
      content: "";
      position: absolute;
      left: 32px;
      top: 25px;

      width: 18px;
      height: 18px;

      background-image: url("../img/icon-search-0.2.svg");
      background-repeat: no-repeat;
    }
  }

  &--cart {
    &::before {
      content: "";
      position: absolute;
      left: 30px;
      top: 25px;

      width: 18px;
      height: 18px;

      background-image: url("../img/icon-cart-0.2.svg");
      background-repeat: no-repeat;
    }
  }
}
