.main-nav {
  text-align: left;
  background-color: #ffffff;
}

.site-list {
  .reset-list;
}

.site-list__item {
  position: relative;

  display: flex;

  padding: 22px 75px 22px 63px;

  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec; /*подумать, как убрать задвоение границ*/
  }
}

.site-list__image {
  position: absolute;
  top: 25px;
  left: 25px;

  opacity: 0.2;
}

.site-list__link {
  display: block;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &--add {
    display: none;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .container {
    width: @tablet-width;
  }

  .main-nav__list:nth-child(2) {
    margin-top: -83px;
  }

  .site-list__item {
    padding: 22px 28px 22px 28px;
  }

  .site-list__link {
    &--search {
      display: none;
    }

    &--add {
      display: inline-block;
      vertical-align: top;
    }
  }
}
