.main-nav {
  // display: none; /*для проверки мобилы*/
  text-align: left;
  background-color: #ffffff;
}

.site-list {
  .reset-list;

  &--additional {
    display: none;
  }
}

.main-nav__delivery {
  display: none;
}

.site-list__item {
  position: relative;

  display: flex;

  padding: 23px 57px 31px 77px;

  border-bottom: 1px solid #ececec;

  &--products {
    border-top: 1px solid #ececec;
  }
}

.site-list__image {
  position: absolute;
  top: 28px;
  left: 32px;

  opacity: 0.2;
}

.site-list__link {
  display: block;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &--add {
    display: none;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;

    &:first-child {
      position: absolute;
      left: 0;
      bottom: -70px;
      z-index: 100;
    }

    &--additional {
      display: none;
    }
  }

  .main-nav__delivery {
    position: absolute;
    right: 52px;
    bottom: -60px;
    z-index: 100;

    display: block;

    line-height: 24px;
    color: #444444;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .container {
    width: @tablet-width;
  }

  .site-list__item {
    padding: 22px 28px 22px 28px;

    border: none;

    &--products a,
    &--knitting a {
      font-size: 15px;
    }

    &--search {
      padding-left: 45px;

      border-left: 1px solid #ececec;
    }

    &--cart {
      padding-left: 65px;

      border-left: 1px solid #ececec;
    }
  }

  .site-list__link {
    &--search {
      display: none;
    }

    &--add {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: @desktop-width;
  }

  .site-list {
    &:first-child {
      bottom: 0;
    }

    &--additional {
      position: absolute;
      left: 0;
      bottom: -70px;
      z-index: 100;

      display: flex;

      width: 370px;
    }
  }

  .site-list__item {
    &--products a,
    &--knitting a {
      font-size: 17px;
    }

    &--knitting {
      border-left: 1px solid #ececec;
    }

    // &--additional {
    //   padding: 22px 28px 22px 20px;
    // }

    &--additional a {
      font-size: 15px;
    }
  }
}
