.modal-form {
  display: none;

  position: absolute;
  top: 0;
  left: 50%;

  width: 100%;
  height: 3932px;

  transform: translateX(-50%);

  background-color: #ffffff;
  opacity: 0.9;

  &--inner {
    height: 2244px;
  }
}

.modal {
  position: absolute;
  top: 1046px;
  left: 50%;

  width: 320px;
  padding: 30px 30px 46px 30px;

  text-align: center;

  background-color: #ffffff;
  opacity: 1;
  transform: translateX(-50%);

  &--inner {
    top: 801px;
  }
}

.modal__title {
  margin: 0;
  padding: 0 48px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__text {
  margin: 12px 0 23px 0;

  line-height: 30px;
  color: #444444;
}

.modal__list {
  .reset-list;

  display: flex;

  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}

.modal__option {
  display: block;

  width: 82px;
  height: 52px;
  margin-right: 7px;
  padding-top: 15px;

  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;

  background-color: transparent;
  border: 2px solid #444444;
  border-color: rgba(68, 68, 68, 0.1);

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: #62d1ba;
  }
}

.modal-form--show {
  display: block;
}

@media (min-width: @tablet-width) {
  .modal-form {
    height: 3710px;

    &--inner {
      height: 2505px;
    }
  }

  .modal {
    top: 1531px;

    width: 566px;
    padding: 33px 51px 46px 53px;

    &--inner {
      top: 1077px;
    }
  }

  .modal__list {
    padding-left: 54px;
  }

  .modal__title {
    padding: 0 48px;

    font-size: 30px;
    line-height: 57px;
  }

  .modal__text {
    margin: 13px 0 23px 0;

    font-size: 17px;
  }

  .modal__option {
    width: 112px;
    padding-top: 13px;
  }

  .button--modal {
    width: 350px;
  }
}

@media (min-width: @desktop-width) {
  .modal-form {
    height: 3623px;
    &--inner {
      height: 1890px;
    }
  }

  .modal {
    top: 1113px;

    &--inner {
      top: 746px;
    }
  }
}
