.order__form {
  width: 320px;
  margin: -8px auto 0 auto;
  padding: 0 30px 0 30px;
}

.order__intro {
  width: 258px;
  margin-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
}

.order__title {
  padding-right: 20px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @tiffani-light;
  text-transform: uppercase;
}

.order__list {
  width: 260px;

  border: none;
  border-top: 1px solid @tiffani-light;
  padding: 19px 0 20px 0;

  &--textarea {
    padding: 24px 0 0 0;
  }

  &:nth-child(4) {
    padding: 0 0 19px 0;

    border: none;

    .order__title {
      position: relative;

      margin: -1px 0 37px 0;

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 2px;

        width: 198px;
        height: 1px;

        background-color: #63d1bb;
      }
    }
  }

  &:nth-child(5) {
    padding: 0;

    .order__title {
      margin: 17px 0 20px 0;
    }
  }

  &:nth-child(6) {
    padding: 0;

    border: none;

    .order__title {
      position: relative;

      margin: 19px 0 20px 0;

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 1px;

        width: 198px;
        height: 1px;

        background-color: #63d1bb;
      }
    }
  }

  &:nth-child(7) {
    padding: 0 0 20px 0;

    border: none;

    .order__title {
      position: relative;

      margin: 19px 0 20px 0;

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 1px;

        width: 179px;
        height: 1px;

        background-color: #63d1bb;
      }
    }
  }
}

.order__item {
  position: relative;

  &--radio {
    padding-left: 62px;
    margin-bottom: 25px;
  }

  &--checkbox {
    padding-left: 62px;
    margin: 17px 0 43px 0;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &--person {
    margin: 9px 0 22px 0;

    &:last-child {
      margin-bottom: 13px;
    }
  }

  &--contact {
    display: flex;
    margin: -13px 0 13px 0;
  }
}

.order__option {
  position: relative;

  display: block;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.order__image {
  position: absolute;

  &--phone {
    top: 11px;
    right: 8px;
  }

  &--mail {
    top: 11px;
    right: 4px;
  }
}

.order__input--radio + label::before {
  content: "";

  position: absolute;
  left: -64px;
  top: -9px;

  width: 40px;
  height: 40px;

  border: 2px solid #444444;
  border-radius: 50%;
}

.order__input--radio:hover + label::before {
  border: 2px solid #62d1ba;
}

.order__input--radio:active + label::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.order__input--radio:checked + label::after {
  content: "";

  position: absolute;
  left: -52px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border: 2px solid #62d1ba;
  border-radius: 50%;
}

.order__input--checkbox + label::before {
  content: "";

  position: absolute;
  left: -64px;
  top: -11px;

  width: 40px;
  height: 39px;

  border: 2px solid #444444;
}

.order__input--checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -54px;
  top: -1px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: -5px -6px;
}

.order__input--checkbox:hover + label::before {
  border: 2px solid #62d1ba;
}

.order__input--checkbox:active + label::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.order__hint {
  margin: 11px 0 32px 0;

  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__link {
  padding: 11px 42px 14px 44px;
}

.order__bottom {
  padding: 2px 0 55px 0;
}

.order__input {
  &:hover,
  &:active {
    border-bottom: 2px solid #62d1ba;

    & + .order__image {
      opacity: 1;
      fill: #62d1ba;
    }
  }

  &--person {
    width: 260px;
    height: 52px;

    border: none;
    border-bottom: 2px solid #000000;
  }

  &--text {
    width: 260px;
    height: 142px;
    padding: 14px 0 0 13px;

    font-size: 17px;
    line-height: 18px;
    color: #444444;

    border: 2px solid #000000;

    &:hover,
    &:active {
      border-color: #62d1ba;
    }
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  &--phone {
    &::placeholder {
      font-size: 19px;
    }
  }
}

.order__content {
  width: 260px;
}

@media (min-width: @tablet-width) {
  .order__form {
    width: 100%;
    padding: 0;
  }

  .order__intro {
    width: 667px;
    padding: 2px 0 0 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order__input {
    &--person {
      width: 375px;
      padding-left: 16px;
    }

    &--text {
      width: 501px;

      font-size: 19px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  .order__content {
    position: relative;

    width: 768px;
    padding: 30px 0 34px 219px;

    &--phone {
      padding: 63px 0 20px 215px;
    }

    &--mail {
      padding: 4px 0 36px 215px;
    }
  }

  .order__list {
    position: relative;

    width: 768px;
    padding: 27px 0 19px 283px;

    border: none;

    &:nth-child(3) {
      padding: 27px 0 16px 218px;

      legend {
        left: 51px;
        top: 51px;
      }
    }

    &:nth-child(4) {
      width: 100%;
      padding: 0;

      .order__title {
        position: absolute;
        left: 50px;
        top: 68px;

        &::after {
          display: none;
        }
      }
    }

    &:nth-child(5) {
      padding: 41px 0 35px 201px;

      legend {
        left: 51px;
        top: 50px;
      }
    }

    &:nth-child(6),
    &:nth-child(7) {
      width: 100%;
      padding: 0;

      input {
        width: 501px;

        background-color: transparent;
      }

      .order__option--contact {
        right: 24px;
        top: 4px;
      }
    }

    &:nth-child(6) {
      .order__title {
        position: absolute;
        left: 51px;
        top: 48px;

        &::after {
          display: none;
        }
      }
    }

    &:nth-child(7) {
      .order__title {
        position: absolute;
        left: 51px;
        top: -11px;

        &::after {
          display: none;
        }
      }
    }

    &:nth-child(8) {
      padding: 51px 0 19px 217px;

      legend {
        top: 68px;
        left: 51px;
      }
    }

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7) {
      background-color: #f1f1f1;
    }
  }

  .order__image {
    &--phone {
      right: 25px;
    }

    &--mail {
      right: 23px;
    }
  }

  .order__group {
    display: flex;
    flex-wrap: wrap;

    max-width: 772px;
    padding: 14px 0 0 0;
  }

  .order__title {
    position: absolute;
    left: 19px;
    top: 51px;
  }

  .order__option {
    padding: 7px 0 0 16px;

    font-size: 19px;
  }

  .order__item {
    &--radio {
      margin-bottom: 52px;
    }

    &--checkbox {
      width: 258px;
      margin-bottom: 34px;
    }

    &--person {
      display: flex;

      margin-bottom: 25px;

      label {
        padding: 15px 24px 0 16px;
      }

      &:first-of-type {
        input {
          width: 428px;
        }
      }
    }

    &--contact {
      width: 501px;
    }
  }

  .order__input--radio + label::before {
    width: 52px;
    height: 53px;
  }

  .order__input--radio:checked + label::after {
    left: -49px;
    top: 7px;

    width: 22px;
    height: 22px;
  }

  .order__input--checkbox + label::before {
    width: 54px;
    height: 52px;
  }

  .order__input--checkbox:checked + label::after {
    width: 38px;
    height: 32px;
    background-position: 2px 7px;
  }

  .order__bottom {
    display: flex;

    padding: 32px 15px 33px 50px;
  }

  .order__hint {
    padding-left: 138px;
    margin-top: 8px;

    font-size: 17px;
    line-height: 30px;

    order: 2;
  }

  .order__link {
    width: 230px;
    padding: 13px 16px 14px 14px;
  }
}

@media (min-width: @desktop-width) {
  .order__intro {
    width: 700px;
    padding: 48px 0 0 0;
  }

  .order__content {
    width: 1150px;
    padding: 30px 0 31px 224px;

    &--phone {
      padding: 64px 0 0 222px;
    }

    &--mail {
      padding: 24px 0 37px 222px;
    }
  }

  .order__list {
    &:nth-child(3) {
      width: 1150px;
      padding: 28px 0 16px 226px;

      .order__title {
        left: 113px;
      }
    }

    &:nth-child(4) {
      .order__title {
        left: 107px;
      }
    }

    &:nth-child(5) {
      width: 1150px;
      padding: 26px 0 35px 193px;

      .order__title {
        left: 110px;
      }
    }

    &:nth-child(6) {
      .order__title {
        left: 110px;
        top: 49px;
      }

      input {
        width: 700px;
      }
    }

    &:nth-child(7) {
      .order__title {
        top: 11px;
        left: 109px;
      }

      input {
        width: 700px;
      }
    }

    &:nth-child(8) {
      width: 1150px;
      padding: 50px 0 20px 225px;

      .order__title {
        left: 112px;
      }

      .order__input {
        width: 700px;
      }
    }
  }

  .order__image {
    &--phone {
      right: 8px;
    }

    &--mail {
      right: 4px;
    }
  }

  .order__group {
    max-width: 1050px;
  }

  .order__item {
    &--checkbox {
      margin: 14px 5px 38px 0;
    }

    &--person {
      padding: 15px 26px 0 16px;
      margin-bottom: 0;

      label {
        padding: 15px 26px 0 16px;
      }

      &:first-of-type {
        input {
          width: 626px;
        }
      }
    }

    &--contact {
      width: 700px;
    }
  }

  .order__input {
    &--person {
      width: 573px;
    }
  }

  .order__bottom {
    padding: 27px 15px 32px 225px;
  }

  .order__hint {
    padding-left: 170px;
  }
}
