.order__intro {
  width: 258px;
  margin-bottom: 23px;
  margin-top: -8px;

  font-size: 13px;
  line-height: 24px;
}

.order__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @tiffani-light;
  text-transform: uppercase;
}

.order__content {
  width: 260px;

  .order__title {
    position: relative;


    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;

      width: 198px;
      height: 2px;
      background-color: @tiffani-light;
    }
  }

  &--radio {
    padding: 0 0 6px 63px;

    .order__title {
      margin-bottom: 35px;
      margin-left: -64px;
    }

    .order__item {
      margin-bottom: 24px;
    }
  }

  &--checkbox {
    padding: 0 0 0 64px;

    .order__title {
      margin-bottom: 37px;
      margin-left: -64px;
    }

    .order__item {
      margin-bottom: 43px;
    }
  }

  &--person {
    .order__title {
      margin-bottom: 30px;
    }

    .order__item {
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 32px;
      }
    }
  }

  &--phone {
    .order__title {
      margin-bottom: -8px;
    }

    .order__item {
      margin-bottom: 32px;
    }
  }

  &--mail {
    .order__title {
      margin-bottom: -7px;

      &::after {
        width: 179px;
      }
    }

    .order__item {
      margin-bottom: 31px;
    }
  }

  &--textarea {
    .order__title {
      margin-bottom: 25px;
    }
  }
}

.order__item {
  position: relative;
}

.order__option {
  position: relative;

  display: block;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.order__image {
  position: absolute;

  &--phone {
    top: 11px;
    right: 8px;
  }

  &--mail {
    top: 11px;
    right: 4px;
  }
}

.order__input--radio + label::before {
  content: "";

  position: absolute;
  left: -64px;
  top: -9px;

  width: 40px;
  height: 40px;

  border: 2px solid #444444;
  border-radius: 50%;
}

.order__input--radio:hover + label::before {
  border: 2px solid #62d1ba;
}

.order__input--radio:active + label::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.order__input--radio:checked + label::after {
  content: "";

  position: absolute;
  left: -52px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border: 2px solid #62d1ba;
  border-radius: 50%;
}

.order__input--checkbox + label::before {
  content: "";

  position: absolute;
  left: -64px;
  top: -11px;

  width: 40px;
  height: 39px;

  border: 2px solid #444444;
}

.order__input--checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -54px;
  top: -1px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: -5px -6px;
}

.order__input--radio:focus + label::before {
  outline: 2px solid #81b3d2;
}

.order__input--checkbox:focus + label::before {
  outline: 2px solid #81b3d2;
}

.order__input--checkbox:hover + label::before {
  border: 2px solid #62d1ba;
}

.order__input--checkbox:active + label::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.order__hint {
  margin: 11px 0 32px 0;

  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__link {
  padding: 11px 42px 14px 44px;
}

.order__bottom {
  padding: 2px 0 55px 30px;
}

.order__input {
  &:hover,
  &:active {
    border-bottom: 2px solid #62d1ba;

    & + .order__image {
      opacity: 1;
      fill: #62d1ba;
    }
  }

  &--person {
    width: 260px;
    height: 52px;

    border: none;
    border-bottom: 2px solid #000000;
  }

  &--text {
    width: 260px;
    height: 142px;
    padding: 14px 0 0 13px;

    font-size: 17px;
    line-height: 18px;
    color: #444444;

    border: 2px solid #000000;

    &:hover,
    &:active {
      border-color: #62d1ba;
    }
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  &--phone {
    &::placeholder {
      font-size: 19px;
    }
  }
}

@media (min-width: @tablet-width) {
  .order__intro {
    width: 667px;
    margin-bottom: 58px;
    margin-top: -6px;

    font-size: 17px;
    line-height: 30px;
  }

  .order__option {
    font-size: 19px;
    line-height: 18px;
  }

  .order__content {
    display: flex;

    width: 768px;

    .order__title {
      &::after {
        display: none;
      }
    }

    &--radio {
      padding: 0 0 9px 116px;

      .order__title {
        margin-right: 208px;
        padding-top: 3px;
      }

      .order__item {
        margin-bottom: 59px;
      }
    }

    &--checkbox {
      padding: 51px 0 27px 115px;

      .order__title {
        margin-right: 202px;
        padding-top: 2px;
      }

      .order__item {
        width: 200px;
        margin-bottom: 43px;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          margin-right: 62px;
        }
      }

      .order__group {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &--person {
      padding: 35px 0 0 51px;

      .order__title {
        margin-right: 124px;
        padding-top: 18px;
      }

      .order__item {
        display: flex;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 50px;
        }
      }

      .order__option {
        margin-right: 26px;
        padding-top: 15px;
      }
    }

    &--phone {
      padding: 35px 0 0 51px;

      .order__title {
        margin-right: 134px;
        padding-top: 18px;
      }

      .order__item {
        margin-bottom: 32px;
      }
    }

    &--mail {
      padding: 0 0 19px 51px;
      margin-top: -23px;

      .order__title {
        margin-right: 108px;
        padding-top: 18px;
      }
    }

    &--textarea {
      padding: 50px 0 21px 52px;

      .order__title {
        padding-top: 4px;
        margin-right: 126px;
      }
    }
  }

  .order__list {
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7) {
      background-color: #f1f1f1;
    }
  }

  .order__input {
    padding: 14px;

    &--person {
      width: 375px;
      padding-left: 16px;
    }

    &--phone,
    &--mail {
      width: 501px;

      background-color: transparent;
    }

    &--text {
      width: 501px;

      font-size: 19px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  .order__item {
    &--person {
      &:first-child {
        .order__input {
          width: 428px;
        }
      }
    }
  }

  .order__image {
    &--phone {
      right: 26px;
    }

    &--mail {
      right: 21px;
    }
  }

  .order__input--radio + label::before {
    width: 52px;
    height: 53px;
    left: -80px;
    top: -16px;
  }

  .order__input--radio:checked + label::after {
    left: -64px;
    top: 0;

    width: 22px;
    height: 22px;
  }

  .order__input--checkbox + label::before {
    left: -80px;
    top: -15px;

    width: 54px;
    height: 52px;
  }

  .order__input--checkbox:checked + label::after {
    left: -71px;
    top: -7px;

    width: 38px;
    height: 32px;

    background-position: 2px 7px;
  }

  .order__bottom {
    display: flex;

    padding: 32px 15px 33px 50px;
  }

  .order__hint {
    padding-left: 138px;
    margin-top: 8px;

    font-size: 17px;
    line-height: 30px;

    order: 2;
  }

  .order__link {
    width: 230px;
    padding: 13px 16px 14px 14px;
  }
}

@media (min-width: @desktop-width) {
  .order__intro {
    width: 700px;
    padding: 48px 0 0 0;
  }

  .order__content {
    width: 1150px;

    &--radio {
      padding: 0 0 11px 177px;

      .order__title {
        margin-right: 155px;
        padding-top: 1px;
      }

      .order__item {
        margin-bottom: 57px;
      }
    }

    &--checkbox {
      padding: 51px 0 26px 173px;

      .order__title {
        margin-right: 151px;
      }

      .order__item {
        &:nth-child(2) {
          width: 265px;
        }

        &:nth-child(4) {
          width: 262px;
        }

        &:nth-child(5) {
          width: 203px;
        }
      }
    }

    &--person {
      padding: 36px 0 0 110px;

      .order__title {
        margin-right: 73px;
        padding-top: 17px;
      }

      .order__option {
        margin-right: 25px;
        padding-top: 15px;
      }

      .order__item {
        &:last-child {
          margin-bottom: 52px;
        }
      }
    }

    &--phone {
      margin-top: -3px;
      padding: 36px 0 0 112px;

      .order__title {
        margin-right: 80px;
      }
    }

    &--mail {
      padding: 0 0 18px 110px;
      margin-top: -23px;

      .order__title {
        margin-right: 56px;
      }
    }

    &--textarea {
      padding: 50px 0 23px 112px;

      .order__title {
        margin-right: 73px;
      }
    }
  }

  .order__item {
    &:first-child {
      .order__input {
        width: 626px;
      }
    }
  }

  .order__image {
    &--phone {
      right: 8px;
    }

    &--mail {
      right: 4px;
    }
  }

  .order__input {
    &--person {
      width: 573px;
    }

    &--phone,
    &--mail {
      width: 700px;
    }

    &--text {
      width: 700px;
    }
  }

  .order__bottom {
    padding: 27px 15px 32px 225px;
  }

  .order__hint {
    padding-left: 170px;
  }
}
