.page-header {
  position: relative;

  width: 320px;
  text-align: center;

  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  width: 86px;
  margin: 20px auto;
}

.page-header__logo-image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__close {
    display: none;
  }

  .page-header__logo {
    width: 112px;
    margin-left: 49px;
    margin-top: 22px;
    margin-bottom: 18px;
    margin-right: 209px;
  }

  .page-header__logo-image {
    width: 112px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 148px;
    margin: 0 102px 0 500px;
    padding-top: 9px;
  }

  .page-header__logo-image {
    width: 148px;
  }
}
