.page-header {
  position: relative;

  width: 320px;
  text-align: center;

  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
}

.page-header__toggle {
  position: absolute;
  top: 11px;
  right: 31px;

  width: 20px;
  height: 14px;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
}
