.page-header {
  position: relative;

  width: 320px;
  text-align: center;

  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  width: 86px;
  margin: 22px auto;
}

.page-header__toggle {
  display: none;
  position: absolute;
  top: 11px;
  right: 31px;

  width: 20px;
  height: 14px;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
}

.page-header__close {
  // display: none;
  position: absolute;
  top: 11px;
  right: 31px;

  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
  border: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__close {
    display: none;
  }

  .page-header__logo {
    margin-left: 51px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 209px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: 500px;
    margin-right: auto;
  }
}
