.promo {
  position: relative;

  padding: 34px 30px;

  color: #444444;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 319px;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.promo__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.promo__status {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @tiffani-light;
  text-transform: uppercase;
}

.promo__description {
  line-height: 24px;
}

.promo__feature-list {
  width: 260px;
  height: 93px;
  line-height: 20px;
  margin-bottom: 28px;

  border-collapse: collapse;
}

.promo__feature {
  width: 98px;
  padding: 10px 31px 10px 0;

  border: none;
  border-bottom: 1px solid #ececec;
}

.promo__value {
  padding: 10px 30px 10px 0;

  border: none;
  border-bottom: 1px solid #ececec;
}

.promo__image {
  margin-bottom: 29px;
}

.promo__price {
  display: block;

  margin-bottom: 28px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .container {
    width: @tablet-width;
  }

  .promo {
    padding: 43px 52px;

    &::after {
      width: 771px;
      height: 15px;
    }
  }

  .promo__price {
    font-size: 20px;
    text-align: left;

    padding-left: 73px;
  }

  .promo__name {
    font-size: 43px;
    line-height: 50px;

    margin-right: auto;
    margin-bottom: 55px;
  }

  .promo__layout1 {
    display: flex;
  }

  .promo__layout2 {
    display: flex;
  }

  .promo__description {
    width: 282px;
    margin: 0 54px 54px 0;

    font-size: 17px;
    line-height: 30px;
  }

  .promo__status {
    width: 97px;

    line-height: 17px;
  }

  .button {
    width: 292px;
  }
}
