.social__list {
  .reset-list;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  max-width: 260px;
  padding: 4px 44px 25px 58px;

  border-bottom: 1px solid #ececec;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover {
    .social__logo-image {
      fill: #46c1ae;
    }
  }

  &:active {
    .social__logo-image {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 18px 19px 0 95px;
    margin: 0 25px 0 0;

    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    margin: 0 215px 0 0;
  }
}
