.social__list {
  display: flex;

  padding: 0 25px 27px 45px;

  border-bottom: 1px solid #ececec;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  align-items: center;

  &--instagram {
    width: 22px;
    height: 21px;

    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &--facebook {
    width: 15px;
    height: 28px;

    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
  }

  &--twitter {
    width: 22px;
    height: 21px;

    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }
}
